body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 12px;
  line-height: 1.833;
  background-color: #000;
}

#tooltip {
  position: absolute;
  padding: 4px;
  margin: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 400px;
  font-size: 14px;
  z-index: 9;
  pointer-events: none;
}

#tooltip:empty {
  display: none;
}

#tooltip table {
  color: #fff;
}

#tooltip h3, #tooltip h5 {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a,
a:visited {
  color: #00ade6;
}

.time-panel {
  position: relative;
  width: 544px;
  height: 200px;
  margin: 24px;
  padding: 12px 24px;
  overflow-y: hidden;
  overflow-x: auto;
  overflow-x: overlay;
  outline: none;
  border-radius: 5px;
  z-index: 7;
  font-size: 70pt;
  color: #999;
  display: none;
  top: 0px;
  width: 50%;
  min-width: 495px;
  position: absolute;
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.geoda-link img {
  height: 1rem;
}

.mapboxgl-ctrl-top-left {
  top: 50;
  left: 0;
}

.options-panel {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 344px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  padding: 12px 24px;
  max-height: 96%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  outline: none;
  z-index: 9;
}

.options-panel .legend {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.options-panel .source-link a {
  font-weight: 700;
  color: #5a666d;
  font-size: 11px;
}

.layout {
  display: table;
  width: 100%;
}

.layout>* {
  display: table-cell!important;
}

.layout .col-1-2 {
  width: 50%;
}

.layout button.stat.col-1-2.checked {
  background-color: rgb(146, 146, 146);
  color: #fff;
}

.stat {
  width: 100px;
  height: 30px;
}

.stat .checked {
  background-color: aquamarine;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: rgb(146, 146, 146);
  padding: 8px;
  width: 100%;
  cursor: pointer;
  color: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(146, 146, 146)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.line {
  stroke: maroon;
  fill: none;
  stroke-width: 3;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
  color: #fff;
}

.text-label {
  font-size: 10px;
  font-family: sans-serif;
  color: #fff;
}

#slider {
  width: 294px;
}

#sliderdiv {
  margin-top: -12px;
  margin-left: 26px;
}

#slider-tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: black;
  border-radius: 0px;
  pointer-events: none;
  color: white;
  opacity: 1;
}

.axis--y path {
  display: none;
}

.axis--y .tick text {
  font-size: 10px;
  font-family: sans-serif;
  color: #fff;
}

.collapse {
  display: none;
}


/*
data panel
*/

.data-panel {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1rem;
  padding: 1.2rem;
  width: 400px;

  position: absolute;
  bottom: 35px;
  left: 55px;
  z-index: 1;
}

.data-panel__hr {
  border-color: #333;
  padding-top: 0.5rem;
}

.data-panel__title {
  font-size: 1.75rem;
}
