body {
  margin: 0; 
  padding: 0;
  font-family: Lato, sans-serif !important;
  font-size: 12px;
  background-color: #333;
  overflow: hidden;
} 

#map { position: absolute; top: 0; bottom: 0; width: 100%; height: 100%}


.poweredByGeoda {
      font-family: Lato, sans-serif;
      font-size: 10px;
      line-height: 1.5;
      font-weight: 700;
      font-stretch: ultra-expanded;
      color: #d8d8d8;
  }

.tooltip-text {
  position: absolute;
  visibility: hidden;
  background-color: #2F2F2F;
  color: #fff;
  padding: 10px;
  text-align: left;
  width: 100px;
  z-index: 99999;
  top: 17px;
  left: -55px;
  border-radius: 5px;
}

.info-tooltip {
  display: inline-block;
  position: relative;
}

.top.info-tooltip .tooltip-text {
  top: -100px;
}

.top.info-tooltip .tooltip-text:after {
  top: 100% !important;
  border-color:  #2f2f2f transparent transparent transparent;
}

button:focus {
  outline: none !important;
}

.info-tooltip .tooltip-text:after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2f2f2f transparent;
}

.info-tooltip:hover .tooltip-text {
  visibility: visible;
}

#tooltip {
  position: absolute;
  padding: 1rem;
  margin: 8px;
  background-color: #444;
  color: #fff;
  max-width: 400px;
  font-size: 14px;
  z-index: 9;
  pointer-events: none;
  border-radius: 0px 10px 10px 10px;
}

#tooltip:empty {
  display: none;
}

#tooltip table {
  color: #fff;
}

#tooltip table th {
  text-align: left;
  padding-right: 10px;
}

#tooltip h3, #tooltip h5 {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a,
a:visited {
  color: #00ade6;
}

.time-panel {
  position: relative;
  width: 544px;
  height: 200px;
  margin: 24px;
  padding: 12px 24px;
  overflow-y: hidden;
  overflow-x: auto;
  overflow-x: overlay;
  outline: none;
  border-radius: 5px;
  z-index: 7;
  font-size: 70pt;
  color: #999;
  display: none;
  top: 0px;
  width: 50%;
  min-width: 495px;
  position: absolute;
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.geoda-link {
  padding-top: 5px;
}
.geoda-link img {
  height: 1.3rem;
}
.geoda-link a {
  padding: 5px !important;
}

.options-panel {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 300px;
  background: #444;
  color: #fff;
  padding: 20px 24px 12px 24px;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  z-index: 9091;
  border-radius: 0px 0px 10px 0px;
}

.options-panel-section {
  padding-top: 1rem;
}

.map-overlay-toggles {
  border-bottom: 1px solid #ddd;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.map-overlay-toggles--hidden {
  display: none;
}

.legend {
  display: inline-block;
  width: 12px;
  height: 12px;
  z-index: 100000;  
}

.options-panel .source-link a {
  font-family: Lato, sans-serif;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1.75px;
      font-weight: 400;
      font-stretch: normal;
      color: #d8d8d8;
      opacity: 0.8;
}

.collapse-btn {
  position: absolute;
  top: 50px;
  z-index: 9091;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: #fff;
  height: 40px;
  width: 30px;
  cursor: pointer;
}

#left-collapse {
  left: 348px;
  border-bottom-right-radius: 10px;
}

.collapse-btn:hover {
  background-color: #666;
}

#right-collapse {
  right: 288.4px;
  border-bottom-left-radius: 10px;
}

#left-collapse.left-panel--collapsed  {
  left: 0px !important;

}

#right-collapse.right-panel--collapsed  {
  right: 0px !important;
}

.options-panel.left-panel--collapsed {
  left: -375px;
}

.data-panel.right-panel--collapsed {
  right: -290px;
}


.data-panel h2, .tooltip {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.layout {
  display: table;
  width: 100%;
}

.layout > * {
  display: table-cell !important;
}

.layout .col-1-2 {
  width: 50%;
}

.layout button.stat.col-1-2.checked {
  background-color: rgb(146, 146, 146);
  color: #fff;
}

.stat {
  width: 100px;
  height: 30px;
}

.stat .checked {
  background-color: aquamarine;
}

.hide {
  display: none;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: rgb(146, 146, 146);
  padding: 8px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-family: Lato, sans-serif;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1.75px;
      font-weight: 600;
      font-stretch: normal;
      color: #d8d8d8;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(146, 146, 146)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.line {
  stroke: red;
  fill: none;
  stroke-width: 3;
}

.smoothline{
  fill: none;
  stroke-width: 2;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
  color: #fff;
}

.text-label {
  font-size: 10px;
  font-family: sans-serif;
  color: #fff;
}

#sliderdiv {
   width: 100%;
  z-index: 9090;
  position: absolute;
  top: 50px;
  left: 40%;
  max-width: 300px;
  background-color:#272727;
  padding: 20px 20px 10px 20px;
  border-radius: 0px 0px 10px 10px;
  color: #fff;

}

#slider {
  width: 100%;
  display: block;
  clear: both;
}

#bubble {
  position: absolute;
  top: 15px;
  font-size: 16px;
  color: #fff;
  z-index: 10000;
  border-radius: 5px 5px 5px 0px;
  text-align: center;
  width: 100%;
}

#slider-min, #slider-max {
  font-size: 10px;
  color: #ccc;
}

.hidden {
  display: none !important;
}

#slider-tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: black;
  border-radius: 0px;
  pointer-events: none;
  color: white;
  opacity: 1;
}



.axis--y path {
  display: none;
}

.axis--y .tick text {
  font-size: 10px;
  font-family: sans-serif;
  color: #fff;
}

.collapse {
  display: none;
}


/*
data panel
*/

.data-panel {
  background-color: #444;
  color: #fff;
  padding: 1.2rem;
  width: 250px;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 9091;
  border-radius: 0px 0px 0px 10px;
  overflow-y: auto;
  height: 85%;
}

/* move mapbox controls so they don't overlap panels */
.mapboxgl-ctrl-bottom-right {
  /* right: 300px !important; */
}
.mapboxgl-ctrl-bottom-left {
  /* left: 425px !important; */
}

/* county severity index (berkeley) */
.county-severity-index--low {
  color: yellow;
}

.legend-wrap {
  z-index: 10000;
  position: absolute;
  bottom: 0px;
  margin-left: 38%;
  width: 400px;
  background-color:#272727;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  font-size: 11px;
}

#legend-labels {
  margin-top: 5px;
}

#legend-labels div {
  width: 11%
}

.county-severity-index--medium {
  color: orange;
}

.county-severity-index--high {
  color: red;
}

.navbar {
  display: flex;
  width: 100%; 
  height: 50px; 
  background-color: #2f2f2f; 
  position: absolute; 
  top: 0px; 
  left: 0px;
  z-index:999;
  font-family: Lato, sans-serif;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 1.75px;
      font-weight: 400;
      font-stretch: normal;
      color: #0d0d0d;
     font-opacity: 30%;
}



@media only screen and (max-width: 600px) {
  .navbar ul{
    display: none !important;
  }
  .mapboxgl-ctrl-geocoder {
    display: none;
  }
  .mapboxgl-ctrl-group {
    display: none;
  }
  .legend-wrap {
    margin-left: 0;
    width: 95%;
    border-radius: initial;
  }
  #sliderdiv {
    left: 0;
    top: initial;
    max-width: initial;
    border-radius: initial;
    bottom:60px !important;
    width: 95% !important;
    padding: 10px;
  }
}

.navbar ul {
  list-style: none;
  display: flex;
  height: 100%;
  margin: 0px;
}

.navbar a {
  color: #ddd;
  text-align: center;
}

.nav-logo {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar li:hover {
  background: #444;
  color: #eee;
}

.navbar a {
  padding-left: 20px;
  padding-right: 20px;
}


.fa-info-circle {
  color: #aaa;
}

.checked .fa-info-circle {
  color: #fff;
}

.mapboxgl-ctrl-top-right {
  z-index: 1000 !important;
}